    <!-- Page content of course! -->
    <div class="bs-docs-masthead" id="content" role="main">
      <div class="container">
      <!--
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">B</span>
      -->
        <div style="font-size:72px"><span class="glyphicon glyphicon-leaf"></span></div>
        <h1 translate>HEADLINE</h1>
      </div>
    </div>

    <div class="bs-docs-featurette">
      <div class="container">		
        <h2 class="bs-docs-featurette-title" translate="HOME_TITLE"></h2>
        <p class="lead" translate="HOME_TEXT"></p>
        <hr class="half-rule">

        <div class="row">
          <div class="col-sm-4">
            <h3 translate="HOME_FEATURE1_TITLE"></h3>
            <p translate="HOME_FEATURE1_TEXT"></p>
          </div>
          <div class="col-sm-4">
            <h3 translate="HOME_FEATURE2_TITLE"></h3>
            <p translate="HOME_FEATURE2_TEXT"></p>
          </div>
          <div class="col-sm-4">
            <h3 translate="HOME_FEATURE3_TITLE"></h3>
            <p translate="HOME_FEATURE3_TEXT"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <h3 translate="HOME_FEATURE4_TITLE"></h3>
            <p translate="HOME_FEATURE4_TEXT"></p>
          </div>
          <div class="col-sm-4">
            <h3 translate="HOME_FEATURE5_TITLE"></h3>
            <p translate="HOME_FEATURE5_TEXT"></p>
          </div>		  
          <div class="col-sm-4">
            <h3 translate="HOME_FEATURE6_TITLE"></h3>
            <p translate="HOME_FEATURE6_TEXT"></p>
          </div>
        </div>

        <hr class="half-rule">
        <h2 class="bs-docs-featurette-title" translate="SHOWCASE_TEXT"></h2>
        <p></p>
        <div class="row">

          <div class="col-md-4">
            <h4 translate="SHOWCASE_INTRO1"></h4>
            <img src="img/haxejs-web.png" width="100%"/>
          </div>
          <div class="col-md-4">
            <h4 translate="SHOWCASE_INTRO2"></h4>
            <img src="img/podcast.png" width="100%"/>
          </div>
          <div class="col-md-4">
            <h4 translate="SHOWCASE_INTRO3"></h4>
            <img src="img/picviewer.png" width="100%"/>
          </div>
<!--
          <div class="col-md-4">
            <h4 translate>SHOWCASE_INTRO1</h4>
            <iframe height="360" width="100%" src="http://player.youku.com/embed/XNDgzMDg5Njc2" frameborder=0 allowfullscreen></iframe>
          </div>
-->
        </div>

        <hr class="half-rule">

        <p class="lead">Haxejs is open source. It's hosted, developed, and maintained on GitHub.</p>
        <a href="https://github.com/haxejs/haxejs-angular" class="btn btn-outline btn-lg">View the GitHub project</a>
      </div>
    </div>

