    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1 translate>KANDUODUO_TITLE</h1>
        <p translate>KANDUODUO_TEXT</p>
      </div>
    </div>
	
    <div class="container bs-docs-container" ng-controller="photoEssaysCtrl">
      <div class="row">
	    <div class="col-md-3 bs-docs-sidebar" role="category">
			<ul class="nav nav-pills nav-stacked" role="tablist">
			  <li role="presentation" ng-class="{active:'0'==photoEssaysCtrl.curChannelID}"><a href="#" class="btn btn-default" ng-click="photoEssaysCtrl.chooseChannel('0')">最新最热 <span class="badge">{{photoEssaysCtrl.getTotalUnreadNum()}}</span></a></li>
			  <li role="presentation" ng-repeat="channel in photoEssaysCtrl.channels" ng-class="{active:channel.id==photoEssaysCtrl.curChannelID}">
				  <a href="#" class="btn btn-default" ng-click="photoEssaysCtrl.chooseChannel(channel.id)">{{channel.title}} <span class="badge">{{channel.items.length}}</span></a>
			  </li>
			</ul>
		</div>
      	<div class="col-md-9" role="picviewer">
			<h1 align="center">{{photoEssaysCtrl.title()}}</h1>
			<p align="center">{{photoEssaysCtrl.signal()}}</p>
			<hr class="half-rule"/>
			<div ng-repeat="slide in photoEssaysCtrl.slides()">
				<img ng-src="{{slide.src}}" class="img-rounded" width="100%" alt="Photo Essays" />
				<h4>{{slide.description}}</h4>
			</div>
			<hr class="half-rule"/>
			<p align="center">{{photoEssaysCtrl.signal()}}</p>
			<div class="row">
				<button class="btn btn-default btn-large col-sm-3" ng-class="{disabled:!photoEssaysCtrl.canPrev()}" ng-click="photoEssaysCtrl.doPrev()">
				  <span class="glyphicon glyphicon-chevron-left"></span>Previous
				</button>
				<button class="btn btn-default btn-large col-sm-3 col-sm-offset-6" ng-class="{disabled:!photoEssaysCtrl.canNext()}" ng-click="photoEssaysCtrl.doNext()">
				  Next<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		</div>
      </div>			
    </div>	