---
layout: default_zh
permalink: /
title: 寻龙掘金@互联网
description: 过去、现在、未来，商业、技术，关于互联网的点点滴滴
---
<h2>商业</h2>
<ul>
    {% for post in site.categories.business %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    <p>{{ post.description }}</p></li>
    {% endfor %}
</ul>
<h2>技术-工具</h2>
<ul>
    {% for post in site.categories.tools %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    <p>{{ post.description }}</p></li>
    {% endfor %}
</ul>

<h2>杂项</h2>
<ul>
    {% for post in site.categories.others %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    <p>{{ post.description }}</p></li>
    {% endfor %}
</ul>
