<!DOCTYPE html>
<html lang="en" ng-app="com.haxejs" id="ng-app">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Haxejs, angularjs ecosystem hub, the next generation mobile first framework.">
    <meta name="keywords" content="Haxejs, Haxe, Mobile, Angular, Angularjs,Ionic,HTML5, Dart,Polymer, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
    <meta name="author" content="Richard Shi, and Haxejs contributors">

    <title>Haxejs,angularjs ecosystem hub</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="css/docs.min.css" rel="stylesheet">

    <!-- Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.). 
         But in AngularJS adding empty href attributes to link tags will cause unwanted route changes.  
         This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly. 
         The remedy is simple, just add the following styling to your application:
    -->
    <style type="text/css">.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }</style>

    <!-- To make AngularJS work with IE7 and earlier, we need to polyfill JSON.stringify. -->
    <!--[if lt IE 9]>
      <script src="bower_components/json3/lib/json3.min.js"></script>
	  <script src="bower_components/es5-shim/es5-shim.min.js"></script>
    <![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
      <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <!-- Add angularjs and your custom tags here -->
    <!--[if lt IE 9]>
      <script>
        //window.myCustomTags = ["alert"]; // optional
      </script>
      <script src="bower_components/angular-ui-utils/ui-utils-ieshiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--[if IE 10]>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/ie-emulation-modes-warning.js"></script>
	<![endif]-->

    <!--[if lt IE 8]>
      <script type="text/javascript"> 
        var $buoop = {vs:{i:7},reminder:0,text:"本站不支持IE7与以下版本的浏览器，请<a href='http://www.browser-update.org/zh/update.html'>升级IE</a>,或使用Chrome/Safari/Firebox等其他浏览器.",text_en:"This site does not support IE8(and below), please <a href='http://www.browser-update.org/en/update.html'>upgrade IE</a>, or use Chrome/Safari/Firebox instead."}; 
        $buoop.ol = window.onload; 
        window.onload=function(){
           try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
           var e = document.createElement("script"); 
           e.setAttribute("type", "text/javascript"); 
           e.setAttribute("src", "//browser-update.org/update.js"); 
           document.body.appendChild(e); 
        } 
      </script> 
    <![endif]-->
	
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="icon" href="favicon.ico">

  </head>
  <body class="bs-docs-home">

    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#/home" class="navbar-brand"><span class="glyphicon glyphicon-leaf"></span>Haxejs</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

          <ul class="nav navbar-nav">
            <li>
              <a href="#/getstarted" translate="GETSTARTED_TITLE"></a>
            </li>
          </ul>
        <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://demo.haxejs.com" >Demo</a></li>
            <li><a href="http://forum.haxejs.com" >Forum</a></li>
          </ul>
        -->
          <ul class="nav navbar-nav navbar-right" ng-controller="switchLangCtrl">
            <li><a ng-click="switchLangCtrl.changeLanguage('zh')" translate="BUTTON_TEXT_ZH"></a></li>
            <li><a ng-click="switchLangCtrl.changeLanguage('en')" translate="BUTTON_TEXT_EN"></a></li>
          </ul>        
        </nav>
      </div>
    </header>

    <div ng-view></div>
    <!--$rootScope.loading is changed on location change events-->
    <div ng-show="loading" class="bs-docs-featurette container"><h1>loading...</h1></div>
    <!-- Footer
    ================================================== -->
    <footer class="bs-docs-footer" role="contentinfo">
      <div class="container">
        <div class="bs-docs-social">
          <ul class="bs-docs-social-buttons">
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=haxejs&amp;repo=haxejs-angular&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=haxejs&amp;repo=haxejs-angular&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
            </li>
          </ul>
        </div>


        <p>Maintained by the <a href="https://github.com/haxejs?tab=members">core team</a> with the help of <a href="https://github.com/haxejs/haxejs-angular/graphs/contributors">our contributors</a>.</p>
        <p>Code licensed under <a href="https://github.com/haxejs/haxejs-angular/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="bs-docs-footer-links muted">
        <!--
          <li><a href="https://github.com/haxejs/haxejs-angular">GitHub</a></li>
          <li>&middot;</li>
          <li><a href="http://demo.haxejs.com">Demo</a></li>
          <li>&middot;</li>
          <li><a href="http://forum.haxejs.com">Forum</a></li>
          <li>&middot;</li>
        -->
          <li><a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank" >粤ICP备14057671号</a></li>
        </ul>
      </div>
    </footer>

    <!-- Include all compiled plugins (below), or include individual files as needed
        <script src="bower_components/jquery/jquery.min.js"></script>
    --> 
    <script src="js/app.embed.js"></script>
    <!-- Bootstrap js plugins if we use bootstrap components, however, it is not angular native style, 
    please use haxejs-angular-bootstrap if IE9 and above support is prefered.
        <script src="js/docs.min.js"></script>
    --> 
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
</html>
