    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1 translate>GETSTARTED_TITLE</h1>
        <p translate>GETSTARTED_TEXT</p>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
      	<div class="col-md-9" role="main">
      		<div class="bs-docs-section" id="install-haxe">
      			<h1>Install Haxe</h1>
      			<h2>Automatic Install</h2>
				<p>You can install Haxe and Neko automatically, using one of the following installers:</p>
				<ul>
					<li><a href="http://haxe.org/file/haxe-3.1.3-win.exe">Windows</a></li>
					<li><a href="http://haxe.org/file/haxe-3.1.3-osx-installer.pkg">Mac</a></li>
					<li><a href="http://www.openfl.org/builds/haxe/haxe-3.1.3-linux-installer.tar.gz">Linux</a></li>
				</ul>
				<h2>Manual Install</h2>
				<p>Although we recommend that you use an automatic install, there is information available at <a href="http://www.haxe.org/download">http://www.haxe.org/download</a> if you wish to install Haxe manually, or to build from the source.</p>
				<p>If you have any problems using a manual install, please try an automatic install before reporting issues. Thanks!</p>
				<h2>Troubleshooting</h2>
				<h3>Windows</h3>
				<p>The Haxe installer allows you to change the install directory, but we recommend that you use the default (&quot;C:\HaxeToolkit&quot;) rather than changing. Installing to another folder (specifically, &quot;C:\Program Files&quot;) can result in unexpected behavior, and break your install.</p>
				<h3>Mac</h3>
				<p>If you have any problems installing, you may need to allow applications that are not signed, or distributed from the Mac App Store. Go to System Preferences &gt; Security &amp; Privacy &gt; General, and make sure the &quot;Allow Applications&quot; setting is set to &quot;Anywhere&quot;</p>
				<h3>Linux</h3>
				<p>Although your distribution may have &quot;haxe&quot; or &quot;neko&quot; packages to install, we highly recommend that you use the automated installer script, or at least use it as the basis for how to install Haxe on your system. Minor nuances between 32-bit and 64-bit systems, particularly while installing a matching Neko install, can be tricky.</p>
				<p>The script has been tested on Ubuntu, Fedora, SUSE, Arch Linux and other major distributions.</p>
      		</div>
      		<div class="bs-docs-section" id="install-haxejs-angular">
      			<h1>Install haxejs-angular</h1>
      			<p>Haxejs is a series of haxe libraries, haxejs-angular is the core library.</p>
      			<!--
      			<p>With Haxe and Neko already installed, it is simple to install haxejs-angular:</p>
      			<div class="highlight"><pre><code class="text language-text" data-lang="text">
      				haxelib install haxejs-angular
				</code></pre></div>
				-->
      			<p>haxejs-angular is not public to lib.haxe.org yet, however you can use a development version of <code>haxejs-angular</code>, install or use Git in order to clone the repository.</p>
				<div class="highlight"><pre><code class="text language-text" data-lang="text">git clone https://github.com/haxejs/haxejs-angular
haxelib dev haxejs-angular haxejs-angular
				</code></pre></div>
				<p>If you prefer so, you can also use the <code>haxelib git</code> command. It allows haxelib to pull the repository using <code>haxelib upgrade</code> command, but may otherwise make it more difficult to use:</p>
				<div class="highlight"><pre><code class="text language-text" data-lang="text">haxelib git haxejs-angular https://github.com/haxejs/haxejs-angular
				</code></pre></div>
      		</div>
      		<div class="bs-docs-section" id="install-other-haxejs-libs">
      			<h1>Install other haxejs libraries</h1>
      			<p>We will have more and more haxejs libraries,like haxejs-angular-bootstrap,haxejs-ionic-cordova,you can use similar haxelib commands to install them.</p>
      		</div>
      		<div class="bs-docs-section" id="code-editors">
      			<h1>Code Editors</h1>
      			<p>Plugins have been written for many <a href="http://haxe.org/com/ide">code editors</a>, but the most popular editors used for Haxejs development are:</p>
      			<ul>
					<li><a href="http://www.flashdevelop.org">FlashDevelop</a>(windows only)</li>
					<li><a href="http://www.sublimetext.com">Sublime Text</a> with <a href="https://github.com/clemos/haxe-sublime-bundle">plugin</a></li>
					<li><a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a> with <a href="http://plugins.jetbrains.com/plugin/6873?pr=">plugin</a></li>
				</ul>
			</div>
      		

			<div class="row bs-docs-section" id="twoWayBinding">
			  <h1 class="col-sm-12">Two way data-binding sample</h1>
			  <div class="col-sm-8">
				<pre ng-non-bindable>
					<p><i>HTML snippet:</i></p>
					<code data-language="html">
&lt;div ng-controller=&quot;twoWayBindingCtrl&quot;&gt;
	&lt;input ng-model=&quot;twoWayBindingCtrl.name&quot; placeholder=&quot;Your name&quot; /&gt;
	&lt;p>Hello {{twoWayBindingCtrl.name}}&lt;/p&gt;
&lt;/div&gt;						
					</code>
				</pre>				  
				<pre ng-non-bindable>
					<p><i>In Controllers.hx file:</i></p>
					<code data-language="javascript">
package com.haxejs;

import ng.Angular;
import ng.IControllers;

class Controllers implements IControllers
{
	public static function main(){
	}

	@:inject("$scope")
	public static var twoWayBindingCtrl:Dynamic = TwoWayBindingCtrl;
}

//use class/type as controller model
class TwoWayBindingCtrl extends BaseCtrl {
	public var name:String;
	public function new(scope:NgScope) {
		super(scope);
	}
}				
					</code>
				</pre>  
			  </div>
			  <div class="col-sm-4">
				<div ng-controller="twoWayBindingCtrl" class="well">
					<input ng-model="twoWayBindingCtrl.name" placeholder="Your name" />
					<p>Hello {{twoWayBindingCtrl.name}}</p>
				</div>			  
			  </div>
			</div>

			<div class="row bs-docs-section" id="addressBook">
				<h1 class="col-sm-12">Address Book sample</h1>
				<div ng-controller="addressBookCtrl" class="col-sm-12 well">
					<div class="col-sm-12" ng-grid="addressBookCtrl.myOptions" style="height:200px"></div>
					<hr class="half-rule">
					<button class="btn btn-danger btn-large" ng-click="addressBookCtrl.remove()">Delete</button>
					<button class="btn btn-info btn-large" ng-click="addressBookCtrl.update()">Update</button>
					<button class="btn btn-primary btn-large" ng-click="addressBookCtrl.add()">Add</button>
					<p ng-show="addressBookCtrl.diffs.length>0">Data updated: {{addressBookCtrl.diffs | json}}</p>
				</div>
		    </div>	

      	</div>
	    <div class="col-md-3 bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
	        <ul class="nav bs-docs-sidenav">
	            <li>
	            	<a href="#/getstarted#install-haxe">Install Haxe</a>
	            </li>
	            <li>
	            	<a href="#/getstarted#install-haxejs-angular">Install haxejs-angular</a>
	            </li>
	            <li>
	            	<a href="#/getstarted#install-other-haxejs-libs">Install other haxejs libraries</a>
	            </li>
	            <li>
	            	<a href="#/getstarted#code-editors">Code Editors</a>
	            </li>
				<li>
	            	<a href="#/getstarted#twoWayBinding">Two-way data-binding sample</a>
	            </li>
	            <li>
	            	<a href="#/getstarted#addressBook">Address Book sample</a>
	            </li>
	            <!--
				<li>
					<a href="#/getstarted#install-tape">Install Tape</a>
					<ul class="nav">
					    <li><a href="#/getstarted#install-tape-python">Install Python</a></li>
					    <li><a href="#/getstarted#install-tape-twist">Install twist python lib</a></li>
					</ul>
				</li>
				-->
			</ul>
		</div>
      </div>
    </div>
