    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" role="main">
      <div class="container">
      <!--
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">B</span>
      -->
        <h1 translate>HEADLINE</h1>
      </div>
    </main>

    <div class="bs-docs-featurette">
      <div class="container">
        <h2 class="bs-docs-featurette-title" translate>HOME_TITLE</h2>
        <quote class="lead" translate>HOME_TEXT</quote>
        <hr class="half-rule">
        <div class="row">
          <div class="col-sm-6">
            <h4>What is wrong with JavaScript?</h4>
            <ol class="list-unstyled">
              <li>Lack of structure</li>
              <li>Very difficult to find dependencies</li>
              <li>All numbers are floats</li>
              <li>Monkey patching</li>
              <li>Keep on truckin' mentality</li>
              <li>Libraries are files you concatenate</li>
            </ol>
            <h4>... which makes it ...</h4>
            <ol class="list-unstyled">
              <li>Difficult to optimize performance</li>
              <li>Difficult to maintain large code bases</li>
              <li>Difficult to assert correctness</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <img src="img/codesize.png" alt="large code base"/>
          </div>
        </div>

        <hr class="half-rule">

        <div class="row">
          <div class="col-sm-4">
            <h3>Object-oriented programming</h3>
            <p>Use modern, high level, strictly typed programming language <a href="http://www.haxe.org">Haxe</a>(very similar to Java) to generate elegant javascript, it provides <strong>compiler error check</strong> and <strong>code completions</strong> with many IDE tools.</p>
          </div>
          <div class="col-sm-4">
            <h3>Cut-edge library manager</h3>
            <p>Hundreds of haxe libraries are easy to put under your fingers, give you lots of choices.</p>
          </div>
          <div class="col-sm-4">
            <h3>Powerful with angularjs, and other directives, services</h3>
            <p><a href="http://angularjs.org">Angularjs</a> is elegant and well designed, and it is the core of haxejs framework, many good javascript libraries are rewritten in angularjs way, and integrated seamlessly.</p>
          </div>
        </div>

        <hr class="half-rule">

        <p class="lead">Haxejs is open source. It's hosted, developed, and maintained on GitHub.</p>
        <a href="https://github.com/haxejs/haxejs-angular" class="btn btn-outline btn-lg">View the GitHub project</a>
      </div>
    </div>

