    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1 translate>KANDUODUO_TITLE</h1>
        <p translate>KANDUODUO_TEXT</p>
      </div>
    </div>
	
    <div class="container bs-docs-container">
      <div class="row">
	    <div class="col-md-3 bs-docs-sidebar" role="category">
			<ul class="nav nav-pills nav-stacked" role="tablist">
			  <li role="presentation" class="active"><a href="#" class="btn btn-default">最新最热 <span class="badge">42</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">军情观察室 <span class="badge">31</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">娱乐八卦 <span class="badge">3</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">军情观察室 <span class="badge">31</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">娱乐八卦 <span class="badge">3</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">军情观察室 <span class="badge">31</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">娱乐八卦 <span class="badge">3</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">军情观察室 <span class="badge">31</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">娱乐八卦 <span class="badge">3</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">军情观察室 <span class="badge">31</span></a></li>
			  <li role="presentation"><a href="#" class="btn btn-default">娱乐八卦 <span class="badge">3</span></a></li>
			</ul>
		</div>
      	<div class="col-md-9" role="picviewer">
			<h1 align="center">95后女子用身体换旅行</h1>
			<hr class="half-rule"/>
			<div>
				<img src="http://y3.ifengimg.com/a/2014_43/85962a42f284148.jpg" class="img-rounded" width="100%" alt="Photo Essays" />
				<p>近日，一名自称“95后萌妹”的女网友，在网络上发布《用身体旅行：95后萌妹向全国征集各地临时男友陪游啦！》一帖，公开宣布了自己“0元游中国”的计划：面向网友展开“临时男友”的征集。帖子发出后，短时间内便引来大量CBD白领的围观和评论。大部分人认为她的所作所为是“不劳而获、道德缺失”并对该女子的安全表示担忧，但也有白领认为，“旅泡”也算是一种生活方式，旁人干涉不了。</p>
			</div>
			<div>
				<img src="http://y3.ifengimg.com/a/2014_43/85962a42f284148.jpg" class="img-rounded" width="100%" alt="Photo Essays" />
				<p>近日，一名自称“95后萌妹”的女网友，在网络上发布《用身体旅行：95后萌妹向全国征集各地临时男友陪游啦！》一帖，公开宣布了自己“0元游中国”的计划：面向网友展开“临时男友”的征集。帖子发出后，短时间内便引来大量CBD白领的围观和评论。大部分人认为她的所作所为是“不劳而获、道德缺失”并对该女子的安全表示担忧，但也有白领认为，“旅泡”也算是一种生活方式，旁人干涉不了。</p>
			</div>
			<div>
				<img src="http://y3.ifengimg.com/a/2014_43/85962a42f284148.jpg" class="img-rounded" width="100%" alt="Photo Essays" />
				<p>近日，一名自称“95后萌妹”的女网友，在网络上发布《用身体旅行：95后萌妹向全国征集各地临时男友陪游啦！》一帖，公开宣布了自己“0元游中国”的计划：面向网友展开“临时男友”的征集。帖子发出后，短时间内便引来大量CBD白领的围观和评论。大部分人认为她的所作所为是“不劳而获、道德缺失”并对该女子的安全表示担忧，但也有白领认为，“旅泡”也算是一种生活方式，旁人干涉不了。</p>
			</div>
			<div>
				<img src="http://y3.ifengimg.com/a/2014_43/85962a42f284148.jpg" class="img-rounded" width="100%" alt="Photo Essays" />
				<p>近日，一名自称“95后萌妹”的女网友，在网络上发布《用身体旅行：95后萌妹向全国征集各地临时男友陪游啦！》一帖，公开宣布了自己“0元游中国”的计划：面向网友展开“临时男友”的征集。帖子发出后，短时间内便引来大量CBD白领的围观和评论。大部分人认为她的所作所为是“不劳而获、道德缺失”并对该女子的安全表示担忧，但也有白领认为，“旅泡”也算是一种生活方式，旁人干涉不了。</p>
			</div>
			<hr class="half-rule"/>
			<div class="row">
				<button class="btn btn-default btn-large col-sm-3" ng-click="">
				  <span class="glyphicon glyphicon-chevron-left"></span>Previous
				</button>
				<button class="btn btn-default btn-large col-sm-3col-sm-offset-6" disabled="disabled" ng-click="">
				  Next<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		</div>
      </div>			
    </div>	