    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1 translate>SHOWCASE_TITLE</h1>
        <p translate>SHOWCASE_TEXT</p>
      </div>
    </div>
	
    <div class="container bs-docs-container">
      		<div class="row bs-docs-section" id="24hours">
            <!--
            <div class="col-md-6">
              <img width=auto height=498 src="http://m3.img.srcdd.com/farm4/d/2012/1203/00/D9EA97818BC2C5E1A2F510F0F1022BE3_B500_900_426_640.PNG" />
            </div>
            -->
      			<div class="col-md-4">
              <h2 translate>SHOWCASE_INTRO1</h2>
              <iframe height="360" width="100%" src="http://player.youku.com/embed/XNDgzMDg5Njc2" frameborder=0 allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
              <h2>Ionic Weather rewritten by haxejs (Working in progress)</h2>
              <img src="http://ionicframework.com/img/homepage/phones-weather-demo.png" width="100%"/>
            </div>
			    </div>
    </div>		  