    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1 translate>UNDERSTAND_TITLE</h1>
        <p translate>UNDERSTAND_TEXT</p>
      </div>
    </div>
	
    <div class="container bs-docs-container">
      <div class="row">	
      	<div class="col-md-9" role="main">
      		<div class="bs-docs-section" id="overview">
        		<h1>Overview</h1>
				<div class="row">
                <div class="col-sm-6">
                  <h2>What is wrong with JavaScript?</h2>
                  <ol class="list-unstyled">
                    <li>Lack of structure</li>
                    <li>Very difficult to find dependencies</li>
                    <li>All numbers are floats</li>
                    <li>Monkey patching</li>
                    <li>Keep on truckin' mentality</li>
                    <li>Libraries are files you concatenate</li>
                  </ol>
                  <h4>... which makes it ...</h4>
                  <ol class="list-unstyled">
                    <li>Difficult to optimize performance</li>
                    <li>Difficult to maintain large code bases</li>
                    <li>Difficult to assert correctness</li>
                  </ol>
                </div>
                <div class="col-sm-6">
                  <img src="img/codesize.png" alt="large code base"/>
                </div>
            </div>    
    			<h2>Prerequisite Knowledge</h2>
    			<p>Before we set up to understand Haxejs, we need know the concepts of <a href="http://en.wikipedia.org/wiki/Object-oriented_programming">OOP</a> and <a href="http://en.wikipedia.org/wiki/Object-oriented_programming">DI</a>.</p>
    			<p>Next we should have a clear understanding of <a href="http://haxe.org/manual/introduction.html">OOP in Haxe</a> and <a href="https://github.com/angular/angular.js/wiki/Understanding-Dependency-Injection">Angularjs DI</a></p>
    			<h2>Why Haxejs?</h2>
    			<p>Document is not ready yet, here is a presentation:<a href="http://www.haxejs.com/ppts/Mobile_First_Framework_Design.pptx">Mobile_First_Framework_Design.pptx</a></p>
    			<h2>Understand Haxejs</h2>
    			<p>We are working on the document, here is a presentation:<a href="http://www.haxejs.com/ppts/Understand_Haxejs-Angular_App.pptx">Understand_Haxejs-Angular_App.pptx</a></p>
  			</div>
		</div>
      </div>
    </div>		  